/** @format */
/** @format */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 300px;
}

.text-center {
  text-align: center;
}

.active {
  border-bottom: 3px solid #000;
}

.nav-sticky {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
}

.loader {
  position: fixed;
  display: none;
  left: 50%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 0.5s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/** @format */
/** @format */
.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.col {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }
  .col-tb-1 {
    width: calc(100% / 12);
  }
  .col-tb-2 {
    width: calc(100% * 2 / 12);
  }
  .col-tb-3 {
    width: calc(100% * 3 / 12);
  }
  .col-tb-4 {
    width: calc(100% * 4 / 12);
  }
  .col-tb-5 {
    width: calc(100% * 5 / 12);
  }
  .col-tb-6 {
    width: calc(100% * 6 / 12);
  }
  .col-tb-7 {
    width: calc(100% * 7 / 12);
  }
  .col-tb-8 {
    width: calc(100% * 8 / 12);
  }
  .col-tb-9 {
    width: calc(100% * 9 / 12);
  }
  .col-tb-10 {
    width: calc(100% * 10 / 12);
  }
  .col-tb-11 {
    width: calc(100% * 11 / 12);
  }
  .col-tb-12 {
    width: calc(100% * 12 / 12);
  }
  .contact {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .menu {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
  }
  .brand-nav {
    height: 112px;
  }
  .brand-nav .search {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .brand-nav .search .search-btn {
    left: 80%;
    width: 16px;
  }
  .brand-nav .logo {
    height: 112px !important;
    line-height: 112px !important;
  }
  .main-nav .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .main-nav__top {
    display: none !important;
  }
  .main-nav .navbar {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav .social-media {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav .social-media a {
    padding: 0 12px;
  }
  .pop-up {
    text-align: start !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 56px !important;
  }
  .pop-up * {
    margin: 8px 0;
  }
  .pop-up label[for="search__input"] {
    margin-right: 8px;
  }
  .pop-up button {
    display: block !important;
    margin: 16px auto !important;
  }
  #top-news div {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  #top-news div img {
    width: 30% !important;
  }
  .footer-bottom .content p.first {
    text-align: start !important;
  }
  .footer-bottom .content p.second {
    text-align: end !important;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
  .col-dt-1 {
    width: calc(100% / 12);
  }
  .col-dt-2 {
    width: calc(100% * 2 / 12);
  }
  .col-dt-3 {
    width: calc(100% * 3 / 12);
  }
  .col-dt-4 {
    width: calc(100% * 4 / 12);
  }
  .col-dt-5 {
    width: calc(100% * 5 / 12);
  }
  .col-dt-6 {
    width: calc(100% * 6 / 12);
  }
  .col-dt-7 {
    width: calc(100% * 7 / 12);
  }
  .col-dt-8 {
    width: calc(100% * 8 / 12);
  }
  .col-dt-9 {
    width: calc(100% * 9 / 12);
  }
  .col-dt-10 {
    width: calc(100% * 10 / 12);
  }
  .col-dt-11 {
    width: calc(100% * 11 / 12);
  }
  .col-dt-12 {
    width: calc(100% * 12 / 12);
  }
}

.top-nav {
  background-color: #000;
  color: #ff6f61;
}

.tab-menu a {
  text-decoration: none;
  color: #ff6f61;
}

.contact,
.menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0;
}

.contact .email,
.contact .phone,
.menu .email,
.menu .phone {
  padding: 2px 8px;
}

.tab-menu a::after {
  position: absolute;
  content: "/";
  margin: 1px 0 0 6px;
  color: #ff6f61;
  font-size: 16px;
}

.tab-menu a {
  position: relative;
  padding: 0 8px;
}

.brand-nav {
  margin-bottom: 16px;
}

.brand-nav img {
  height: 85px;
  width: 100%;
}

.brand-nav .logo {
  font-size: 28px;
  text-align: left;
  height: 56px;
  line-height: 56px;
  color: #ff6f61;
}

.brand-nav .logo i {
  padding: 0 12px;
}

.brand-nav .image {
  margin: 12px 0;
}

.brand-nav .search {
  outline: 2px solid #777;
  height: 40px;
  position: relative;
}

.brand-nav .search input[type="text"] {
  border: none;
  font-size: 36px;
  width: 100%;
  height: 100%;
}

.brand-nav .search button {
  position: absolute;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border: none;
  left: 90%;
  line-height: 40px;
}

.main-nav {
  background-color: #ff6f61;
}

.main-nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
}

.main-nav__top a {
  line-height: 50px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
}

.main-nav__top button {
  background-color: #ff6f61;
  width: 50px;
  font-size: 24px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.main-nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-left: 8px;
}

.main-nav .navbar a {
  font-size: 18px;
  height: 24px;
  margin: 8px 0;
}

.main-nav .navbar::before {
  content: "";
  display: none;
}

.main-nav .social-media {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}

.modal .pop-up {
  min-width: 320px;
  position: relative;
  top: -80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff6f61;
  margin: auto;
  padding: 4px;
  border: 1px solid #888;
  width: 60%;
}

.modal .pop-up * {
  margin: 4px 0;
}

.modal .pop-up .pop-up__search {
  line-height: 28px;
  padding: 32px 12px;
}

.modal .pop-up .pop-up__search label {
  display: none;
  font-size: 24px;
  padding-bottom: 16px;
  font-weight: bold;
}

.modal .pop-up .pop-up__search input {
  height: 28px;
  padding: 4px 12px;
  line-height: 28px;
}

.modal .pop-up .close {
  position: absolute;
  right: 8px;
  top: 4px;
  color: #000;
  font-size: 28px;
  font-weight: bold;
}

.modal .pop-up .close:hover,
.modal .pop-up .close :focus {
  color: red;
  cursor: pointer;
}

.modal .pop-up select#language {
  height: 28px;
  padding: 4px 12px;
}

.modal .pop-up button {
  background-color: #59a9c2;
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  opacity: 0.8;
}

.modal .pop-up button:hover {
  opacity: 1;
  background-color: #ec3013;
}

#top-news div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#top-news div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

#top-news div div * {
  padding-bottom: 0.3rem;
}

#top-news div div a {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
}

#top-news div div a:hover {
  color: red;
}

#top-news img {
  width: 100%;
  padding: 1rem;
}

footer {
  width: 100%;
  background-color: #ff6f61;
}

footer .footer-menu {
  border-bottom: 2px solid #551a8b;
  padding: 1.5rem 0;
  margin-top: 1rem;
  background-color: #ff6f61;
  color: #551a8b;
}

footer .footer-menu .title {
  padding: 1rem 0;
  font-size: 1.5rem;
}

footer .footer-menu .contact-infor p {
  padding: 0.4rem 0;
}

footer .footer-menu .contact-infor i {
  display: inline-block;
  width: 32px;
  margin-right: 16px;
}

footer .footer-menu .news p {
  margin: 0.4rem 0 !important;
}

footer .footer-menu .news form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 1rem;
}

footer .footer-menu .news form input {
  border: 1px solid #ccc;
  height: 1.5rem;
  -webkit-box-flex: 3;
      -ms-flex: 3 2 80%;
          flex: 3 2 80%;
  margin-right: 1rem;
  border-radius: 4px;
  padding-left: 0.6rem;
}

footer .footer-menu .news form button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #fff;
  background-color: #551a8b;
}

footer .footer-menu .news form button:hover,
footer .footer-menu .news form button :focus {
  background-color: red;
  color: #551a8b;
}

footer .footer-terms {
  color: #551a8b;
  padding: 1rem 0;
}

footer .footer-terms .terms__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-terms .terms__menu a {
  padding: 4px;
}

footer .footer-bottom {
  background-color: #cf000f !important;
  padding: 0.6rem 0;
  color: #fff;
}

footer .footer-bottom .content p {
  padding: 0.4rem 0;
  text-align: center !important;
}
